{% load static i18n %}
<!doctype html>
<html lang="uk">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Alechemy | Password Updated</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/auth.css' %}" />
</head>
<body>
	<div class="bg" aria-hidden="true"></div>

	<main class="page">
		<section class="card card-top" data-name="Password Updated">
			<div class="container">
				<div class="center flex-col-gap18">
					  <img src="{% static 'img/logo-green.png' %}" alt="Alechemy logo" width="120" height="120" class="img-logo-center" />
					<p class="title text-center">{% trans "Пароль оновлено" %}</p>
					<p class="subtitle text-center">{% trans "Ваш пароль успішно оновлено." %}</p>
					<a class="btn btn-primary btn-narrow" href="{% url 'pages:home' %}">{% trans "Повернутися" %}</a>
				</div>
			</div>
		</section>
	</main>

	<script src="{% static 'js/auth.js' %}"></script>
</body>
</html>
